body {
	margin:0;
	background-color: #2F3030;
	color: #6d6d6d;
	font-family: 'Ubuntu';
	font-size: 15px;
}

h1.laravel {
	font-family: 'Lobster Two', Helvetica, serif;
	font-size: 60px;
	margin: 0 0 15px -10px;
	padding: 0;
	text-shadow: -1px 1px 1px #fff;
}

h1.laravel a {
	color: #6d6d6d;
}

a {
	text-decoration: none;
	color: #7089b3;
}

img {
	padding-top: -4px;
	padding-right: 10px;
	vertical-align: middle;
}

pre code {
	margin: 0; padding: 10px;
	font-size: 12px;
	background-color: #fff;
}

textarea {
	width: 99%;
	height: 400px;
}

#header {
	width:100%;
	background-color:#eee;
	border-bottom:1px solid #ddd;
	padding:1em;
	margin: 0;
}

#wrapper {
	background-color: #2F3030;
	margin: 0 2em;
	padding-top: 3em;
}

.links
{
	float:right;
	padding-right:2em;
	margin:0.5em 1em;
}

.links a, .links a:visited
{
	text-transform:uppercase;
	font-size:0.8em;
	display:inline-block;
	padding:0.5em 1em;
	background-color:#f6f6f6;
	color:#333;
	border-top:1px solid #fff;
}
